doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(name="description",content="")
    meta(name="author",content="")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
  body

    block content
    block footer
    //- placed at the end so pages load faster
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
